<html>
<head>
<body background="https://media.giphy.com/media/l0JMaNj0xZ6cDFLvq/giphy.gif">
  
</body>
<script type ="text/Javascript">


    digitalData = {
        page:{
            pageInfo: {
                siteName: "eggs yo",
                pageType: "home",
                pageName: "eggs|home",
                alive: "no",
                eggventful: "yes"
            }
        }
    };

</script>

</head>
<title> Howdy! Eggs Yo!</title>
<h1> Howdy! Eggs Yo!</h1>
<p>eggs eggs eggs eggs</p>


</html>