<html>
<head>
<!---<body background="/assets/background.png">
<body style=background-size:cover>!--->
<body style="background-color:255,204,0">
<button onclick="messaging()"> Talk to me! </button>
<button onclick="yikes()"> uh-oh </button>
<audio id="yike">
    <source src="/assets/uhoh.mp3" type="audio/mpeg">
</audio>
<p id="inputVal"></p>
<script>

function messaging(){
    var response = prompt("What is on your mind?");
    if (response == "" || response == null){
        alert("can we do better ?")
    }
    else{
        alert(response + " o h  m y ")
    }
    document.getElementById("inputVal") = response;
}

var x = document.getElementById("yike");
function yikes(){
    x.play();
}
    
</script>
</body>
<script type ="text/Javascript">


    digitalData = {
        page:{
            pageInfo: {
                siteName: "eggs yo",
                pageType: "home",
                pageName: "eggs|home",
                alive: "no",
                eggventful: "yes"
            }
        }
    };

</script>
<script src="../p5.min.js"></script>
<script src="p5.sound.js"></script>
<script src="/assets/sketch.js"></script>
    
<script language="JavaScript" type="text/javascript"
src="//assets.adobedtm.com/50a0cd88cb00/8756cc3c54c0/launch-263d5b227d34-development.min.js" async></script>

</head>
<title> Howdy! Eggs Yo!</title>
<h1> Howdy! Eggs Yo!</h1>
<p>eggs eggs eggs eggs</p>
<p><a href="eggbert">Jump to Howdy Boi</a> </p>
<a href = "https://www.google.com/search?q=eggs&rlz=1C5CHFA_enUS858US858&oq=eggs&aqs=chrome..69i57j0l2j69i60l3.1492j0j7&sourceid=chrome&ie=UTF-8"> Eggs google search</a>
<style>
    a:link{
        color: red;
        background-color: transparent;
        text-decoration: italic;
        }
    a:visited{
        color: green;
        background-color: transparent;
        text-decoration: italic;
        }
    a:hovered{
        color: orange;
        background-color: transparent;
        text-decoration: italic;
        }
    
</style>
<p style="color:red"> yeehaw in red </p>
<hr>
<h2> menos huevos aquí</h2>
<strong>pero los huevos son súper importantes</strong>
<br>
<img src="/assets/howdyyyy.jpg" width="400" height="500" id="eggbert">

<img src="/assets/yoooo.jpg" width = "600" height="500" id="eggboi">
<style>


#eggbert{
    border: 50px solid slateblue;
    margin: 50px;
    }

 
#eggboi{
    border: 50px solid violet;
    margin: 50px; 
}

</style>

<button>AC </button> <button> +/- </button> <button> % </button> <button> ÷ </button> <br>
<button>7 </button> <button> 8 </button> <button> 9 </button> <button> x </button> <br>
<button>4 </button> <button> 5 </button> <button> 6 </button> <button> - </button> <br>
<button>1 </button> <button> 2</button> <button> 3 </button> <button> + </button> <br>
<button> 0 </button> <button>  </button> <button> . </button> <button> = </button> <br>
</html>