<html>
<head>
<body background="https://media.giphy.com/media/l0JMaNj0xZ6cDFLvq/giphy.gif">
  
</body>
<script type ="text/Javascript">


    digitalData = {
        page:{
            pageInfo: {
                siteName: "eggs yo",
                pageType: "home",
                pageName: "eggs|home",
                alive: "no",
                eggventful: "yes"
            }
        }
    };

</script>

</head>
<title> Howdy! Eggs Yo!</title>
<h1> Howdy! Eggs Yo!</h1>
<p>eggs eggs eggs eggs</p>
<a href = "https://www.google.com/search?q=eggs&rlz=1C5CHFA_enUS858US858&oq=eggs&aqs=chrome..69i57j0l2j69i60l3.1492j0j7&sourceid=chrome&ie=UTF-8"> Eggs google search</a>
<p style="color:red"> yeehaw in red </p>
<hr>
<h2> menos huevos aquí</h2>
<strong>pero los huevos son súper importantes</strong>
<img src = "howdyyyy.jpg">
</html>